// 颜色定义
$themeColor: #39bd8a;
$bgColor: #f2f2f2;
$thBgColor: #cbe3f4;
$thColor: #3c3c3c;
$leftNavColr: #374152;
$disabelColor: #f2f2f2;
$selectHysColor: #e6f5ff;
$iconColor: #212121;
$whiteColor: #fff;
$borderColor: #e2e2e2;
$titleColor: #3da3f8;
$tipBgColor: #ddd;

// 字体颜色
$textColor: #272727;
$textLightColor: #a2a2a2;
$yellowColor: #efb336;
$textGrayColor: #4a4a4a;
$textBlodColor: #212121;
